.footer {
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  width: 100%;
  display: flex;
  background: #000;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
