.title {
  color: green;
}

.main {
  min-height: calc(100vh - 190px);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form {
  display: grid;
  gap: 20px;
}

.formElement {
  height: 30px;
}

.saveButton {
  background: #dfc509;
  color: #000;
  border-color: #dfc509;
}

.statusMessage {
  color: tomato;
}
