.overviewMain {
  padding: 0 20px;
}

.chartContainer {
  margin-top: 20px;
}

.chartSelectedMonth {
  margin-bottom: 40px;
}

.monthlyTotal {
  font-weight: 600;
  font-size: 22px;
}

.good {
  color: rgb(93, 237, 93);
}

.average {
  color: rgb(209, 151, 41);
}

.bad {
  color: rgb(151, 22, 22);
}

.expenseItemTableRow:nth-of-type(2n + 1) {
  background: #727272;
}

.expenseItemTableRow:nth-of-type(2n) {
  background: #5a5a5a;
}

.expenseItemTableRow:nth-of-type(1) {
  background: #000;
}

.expenseItemTableRow {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 20px;
  padding: 2px;
}

.expenseItemTableRow > span,
.expenseItemTableRow > time {
  font-size: 13px;
}

.expenseItemPrice {
  text-align: right;
}

.expenseItemTableRow.tableHeader {
  font-size: 20px;
}

.customTooltip {
  background: #5a5a5a;
  color: #dedede;
  padding: 10px;
}
